@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.UICulture.Name ?? "az";
    var cultures = LocOptions.Value.SupportedUICultures?.ToList() ?? new List<System.Globalization.CultureInfo>();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}


<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"] - MedZapis</title>

    <link rel="stylesheet" href="~/assets/css/style.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="header">
        <div class="container-header">
            <a class="logo" href="/">MedZapis</a>

            <div class="header-center">
                <div class="lang-switch" role="group" aria-label="Language">
 

                    <a href="/Home/ChangeLanguage?culture=az" class="lng @(CultureInfo.CurrentCulture.Name == "az" ? "active-lang" : "") ">
                        AZ
                    </a>
                    <a href="/Home/ChangeLanguage?culture=en" class="lng @(CultureInfo.CurrentCulture.Name == "en" ? "active-lang" : "")">
                        EN
                    </a>
                    <a href="/Home/ChangeLanguage?culture=ru" class="lng @(CultureInfo.CurrentCulture.Name == "ru" ? "active-lang" : "")">
                        RU
                    </a>

                </div>
                <a class="btn primary nav-cta" href="/doctors">Qəbula yazıl</a>
            </div>

            <nav class="nav" aria-label="Main navigation">
                <a href="/#articles-home">Məqalələr</a>
                <a href="/#about">Haqqında</a>
                <a href="/#contacts">Əlaqə</a>
                <a href="/#policy">Siyasət</a>

                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a href="/AdminPanel/Appointments" class="btn btn-primary">Kabinet</a>
                }
                else
                {
                    <a href="/Account/Login" class="btn btn-outline-primary">Həkim/Admin girişi</a>
                }
            </nav>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>